<!-- <TextBox Text="{Binding Path=Text, Mode=TwoWay}"></TextBox> -->
<div>
  <input type="text" name="value" [(ngModel)]="value">
  <p> Care to tell us your name? Hello {{value}}</p>
  <button (click)="clearValue()">Clear</button>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Available Quantity</th>
          </tr>
        </thead>
        <tbody>
            <!-- <ng-container > -->
                <tr *ngFor="let product of data">
                    <!-- <td>{{product.productName}}</td> -->
                    <td contenteditable="true" [textContent]="product.productName" [id]="product.id"  (blur)="onContentChanged($event)"></td>
                    <td>{{product.price}}</td>
                    <td>{{product.quantity}}</td>
                  </tr>
            <!-- </ng-container> -->
        </tbody>
      </table>
    
    </div>
    