<p>product works!</p>
<div>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Available Quantity</th>
          </tr>
        </thead>
        <tbody>
            <!-- <ng-container > -->
                <tr *ngFor="let product of data">
                    <td>{{product.productName}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.quantity}}</td>
                  </tr>
            <!-- </ng-container> -->
        </tbody>
      </table>
    
    </div>
    